@import './assets/fonts/Encode_Sans_Expanded/encode_sans_expanded.css';

@import 'tailwindcss';

@theme {
  --color-app-main: #c4aa00;
  --color-app-light: #f6f5f0;
  --color-app-rating: #f6d600;
}

body {
  font-family: 'Encode Sans Expanded', sans-serif;
}

*,
*::after,
*::before {
  outline-color: var(--color-orange-400);
}
